#payment-options {
  color: rgb(169, 169, 169);
  background-color: rgb(242, 239, 239);
  font-weight: bold;
  padding: 5px;
  font-size: 1.3rem;
}

.svg-card {
  fill: rgb(169, 169, 169);
  margin-right: 8px;
  margin-left: 10px;
}
